@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    padding: 0 !important;
    margin: 0 !important;
}
body:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #210C50);
}
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

#clock {
    position: absolute;
    bottom: 60px;
    left: 75px;
    display: flex;
    flex-direction: column;
}

#clock .top {
    font-size: 7vh;
    font-weight: 600;
}
#clock .bottom {
    font-size: 18vh;
    font-weight: 900;
}

#widget {
    position: absolute;
    bottom: 40px;
    right: 75px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.widgetbottom {
    display: flex;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .1);
}

.widgetcenter {
    display: flex;
    flex-direction: column;
    width: 180px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .1);
}

.widgettop {
    display: flex;
    flex-direction: column;
    width: 180px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.3);
}

.spotify-ico{
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
}

.radius20 {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
}